<ion-view view-title="Saldo e Limite">
    <ion-content>
        <ion-refresher
            pulling-text="Puxe para atualizar"
            on-refresh="load()">
        </ion-refresher>
        <div class="list card">
            <div class="item item-divider">Saldo a Pagar</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item ng-class="{assertive : balanceSaldo < 0}">
                        <span data-ng-bind="balanceSaldo || 0 | currency:'R$'"></span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Limite</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item ng-class="{assertive : balanceLimite < 0}">
                        <span data-ng-bind="balanceLimite || 0 | currency:'R$'"></span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
