<ion-view view-title="Meus Dados">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="list card">
          <div class="item item-divider">Nome</div>
          <div class="item item-body">
            <span class="result" data-ng-bind="user.name || mobile.seasonName"></span>
          </div>
      </div>
      <div class="list card">
          <div class="item item-divider">CPF</div>
          <div class="item item-body">
            <span class="result" data-ng-bind="user.cpfCnpj | mask:'999.999.999-99'"></span>
          </div>
      </div>

      <div class="list card">
          <div class="item item-divider">Telefone</div>
          <div class="item item-body">
            <span class="result" data-ng-bind="mobile.phoneNumber | mask:'99(99) 99999-9999'"></span>
          </div>
      </div>

      <div>
            <a class="button button-dark button-block" ng-click="sair();">Desabilitar</a>
      </div>
  </ion-content>
</ion-view>
