<ion-view view-title="Pedido: {{id}}">
  <ion-content overflow-scroll="false" padding="true" class="has-header">
      <ion-refresher
            pulling-text="Puxe para atualizar"
            on-refresh="load()">
        </ion-refresher>
    <span class="title-label">Loja: </span>    
    <span class="result" data-ng-bind="order.personTo | limitTo:20"></span>
    <br>    
    <small class="title-label">STATUS: </small>    
    <span class="result" data-ng-bind="order.status | statusorderlabel"></span>
    <br>
    <hr>
    <small class="title-label">MESA: </small>    
    <strong class="result" data-ng-bind="order.itens[0].table"></strong>
    <br>
    <small class="title-label">COMANDA: </small>    
    <strong class="result" data-ng-bind="order.itens[0].accountID"></strong>
    <br ng-if="order.obs">
    <small ng-if="order.obs" class="title-label">OBS </small>    
    <strong ng-if="order.obs" class="result" data-ng-bind="order.obs"></strong>
      <div class="list card">
          <div class="item item-divider">
            Detalhe
          </div>
          <div class="item item-body">
              <ion-list>
                  <ion-list>
                      <ion-item ng-repeat="item in order.itens">
                          <span data-ng-bind="item.code"></span> -
                        <span data-ng-bind="item.description" ></span>
                        <span data-ng-bind="item.amount | currency:'R$ '" style="float: right;"></span>
                      </ion-item>
                  </ion-list>
              </ion-list>
          </div>
          <div class="item item-divider">
            TOTAL: <span data-ng-bind="order.total | currency:'R$ '" style="float: right;"></span>
          </div>
      </div>

      </ion-content>
      
</ion-view>
