<ion-view view-title="Catalogo">
    <ion-content>
        <ion-refresher
            pulling-text="Puxe para atualizar"
            on-refresh="load()">
        </ion-refresher>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Workflow" data-ng-model="catalog.workflow">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Código" data-ng-model="catalog.code">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Descrição" data-ng-model="catalog.description">
            </label>
            <label class="item item-input">
                <input type="number" placeholder="Preço" data-ng-model="catalog.amount">
            </label>

            <button class="button button-block button-positive activated" data-ng-click="add(catalog)">Add</button>
        </div>

        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="catalog in catalogs" type="item-text-wrap" href="#/app/catalogDetail/{{catalog._id}}">
                <h2 data-ng-bind="catalog.description"></h2>
                <p data-ng-bind="catalog.amount | currency:'R$'"></p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(catalog)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
