<ion-view view-title="Catalogo">
      <ion-content>
            <div class="list list-inset">
              <div qrcode="catalog.qr"></div>
              <h2>{{catalog.description}}</h2>
              <h3>{{catalog.code}}</h3>
              <p data-ng-bind="catalog.amount | currency:'R$ '"></p>
            </div>

      </ion-content>
</ion-view>
