<ion-side-menus enable-menu-with-back-views="false">
      <ion-side-menu-content>
            <ion-nav-bar class="bar-stable">
                  <ion-nav-back-button>
                  </ion-nav-back-button>

                  <ion-nav-buttons side="left">
                        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                        </button>
                  </ion-nav-buttons>

            </ion-nav-bar>
            <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="left">
            <ion-header-bar class="bar-stable">
                  <h1 class="title">Menu</h1>
            </ion-header-bar>
            <ion-content>
                  <ion-list>
                        <ion-item menu-close ui-sref="app.requestList">
                              Pedidos
                        </ion-item>
                      
                      <ion-item menu-close ui-sref="app.requestListGroupByAccount">
                              Pedidos por Comanda
                        </ion-item>

                        <ion-item menu-close ui-sref="app.order-capture">
                              Capturar Pedido
                        </ion-item>
                        <ion-item menu-close ui-sref="app.balance">
                              Recebíveis
                        </ion-item>
                        <ion-item menu-close ui-sref="app.profile">
                              Meus Dados
                        </ion-item>
                        <ion-item menu-close ui-sref="app.catalog">
                              Catalogo (Provisório)
                        </ion-item>
                  </ion-list>
            </ion-content>
      </ion-side-menu>
</ion-side-menus>
