<ion-view view-title="Pedidos por comanda">
    <ion-nav-buttons side="right">
        
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher
            pulling-text="Puxe para atualizar"
            on-refresh="load()">
        </ion-refresher>
        <ion-list data-ng-repeat="(ago, orders) in ordersSum" class="list-manei">
            <small data-ng-bind="ago" class="when-hour-manei"></small>            
            <ion-item ng-repeat="order in orders" href="#/app/requestOrder/{{order.IDHash}}" 
                      class="item-manei processing"
                      ng-if="order.processing">

                <span ng-bind="order.processing"></span>                
                
            </ion-item>
            
            <ion-item ng-repeat="order in orders" href="#/app/requestOrder/{{order.IDHash}}" 
                      class="item-manei"
                      ng-if="!order.processing"
                      ng-class="{'urgent' : (order.status | statusordercode) == 0, 'problem' : (order.status | statusordercode) == 1, 'attention' : (order.status | statusordercode) == 2, 'ok' : (order.status | statusordercode) == 3, 'rejected' : (order.status | statusordercode) == 4}">

                <span data-ng-bind="order.personFrom"></span>
                <span data-ng-bind="order.total | currency:'R$'" style="float: right;"></span>

                <br>
                <small data-ng-bind="order.dtcreate | date:'dd / MM HH:mm'"></small>
                <br>
                <span data-ng-repeat="item in order.itens">
                    <small data-ng-bind="$index + 1"></small> -
                    <small data-ng-bind="item.description"></small>
                    <span ng-if="order.itens.length > ($index + 1)">,</span>
                </span>              
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
