<ion-view view-title="transactions">
      <ion-content>
            <ion-list class="list-manei" data-ng-hide="orders.length == 0">
                  <ion-item ng-repeat="order in orders" class="item-manei" ng-class="{urgent : order.type=='sent', ok : order.type=='received'}">
                        <strong data-ng-bind="order.from"></strong>
                        <span data-ng-bind="order.amount | currency:'R$ '" style="float: right;"></span>
                        <br>
                        <strong data-ng-bind="order.type"></strong>
                        <br>
                        <strong ng-bind="order.date | date:'dd/MM HH:mm'"></strong>
                        <br>
                        <i resolve-user-name="order.to" data-ng-bind="item.to | limitTo:15"></i>
                  </ion-item>
            </ion-list>
      </ion-content>
</ion-view>
