<ion-view view-title="" class="fundo">
      <ion-content overflow-scroll="false" padding="false">
            <div class="list card">
                  <div class="item item-divider">Cliente</div>
                  <div class="item item-body">
                        <h1 class="text-center">Imersão Código</h1>
                        <div class="welcome50 sub-description">
                              Um código de ativação foi enviado via SMS para o seu celular, por favor insira o código recebido no campo abaixo.
                        </div>

                        <div class="list list-inset welcome50">
                              <label class="item-input">
                                    <span>Telefone: </span>
                              </label>
                              <label class="item item-input">
                                    <i class="icon ion-ios-telephone-outline placeholder-icon"></i>
                                    <input type="tel" ui-mask="99(99) 99999-9999" ng-model="mobile.phoneNumber" disabled="disabled">
                              </label>
                              <br/>
                              <label class="item-input">
                                    <span>Código de verificação: </span>
                              </label>
                              <label class="item item-input">
                                    <i class="icon ion-checkmark-round placeholder-icon"></i>
                                    <input type="tel" ui-mask="999-999" ng-model="mobile.confirmationCode">
                              </label>
                        </div>

                        <div>
                              <a class="button button-dark button-block" ng-click="send(mobile);">Continuar</a>
                        </div>
                  </div>
      </ion-content>
</ion-view>
