<ion-view view-title="Início" class="fundo">
      <ion-content overflow-scroll="false" padding="false">
            <div class="list card">
                  <div class="item item-divider">Cliente</div>
                  <div class="item item-body">
                        <h1 class="text-center">Bem-vindo(a)</h1>
                        <h2 class="text-center">MANEI</h2>
                  </div>
            </div>
      </ion-content>
</ion-view>
