<ion-view view-title="Comprar">
      <ion-nav-buttons side="right">
            <button class="button button-clear button-ligth" menu-toggle="right" data-ng-click="scan()">
                  <span class="icon ion-android-expand"> Escanear</span>
            </button>
      </ion-nav-buttons>
      <ion-content>

            <div class="list card" data-ng-hide="order.itens.length > 0">

                <div class="item item-body">
                  <div class="item item-divider text-center">Adicione um item</div>
                  <button class="button button-clear button-positive button-block" menu-toggle="right" data-ng-click="scan()">
                        <span class="icon ion-android-expand"> Escanear</span>
                  </button>
                </div>
            </div>

            <ion-list class="list-manei" data-ng-hide="order.itens.length == 0">
                  <ion-item ng-repeat="item in order.itens" class="item-remove-animate item-manei ok">
                        <b data-ng-bind="item.code"></b> -
                        <strong data-ng-bind="item.description"></strong>
                        <span data-ng-bind="item.amount | currency:'R$ '" style="float: right;"></span>
                        <br>
                        <i resolve-user-name="item.to" data-ng-bind="item.to | limitTo:15"></i>
                        <ion-option-button class="button-assertive" data-ng-click="remove($index)">
                              Remover
                        </ion-option-button>
                  </ion-item>
                  <div class="item item-divider item-manei">
                        TOTAL:
                        <span data-ng-bind="order.total | currency:'R$ '" style="float: right;"></span>
                  </div>
            </ion-list>
      </ion-content>
      <ion-footer-bar align-title="left" class="bar-manei">
            <div class="buttons">
                  <button class="button button-dark icon ion-close-round" data-ng-click="cancel();" style="width:70px"></button>
            </div>
            <h3 class="title" style="height: 100%;">
                  <!--span>Limite: </span>
                  <span data-ng-bind="(balanceLimite || 0) - (order.total || 0) | currency : 'R$ '" class="balanced"></span>
                  <br-->
                  <span >Pedido: </span>
                  <!--b data-ng-hide="(balanceLimite || 0) >= (order.total || 0)" data-ng-bind="order.total || 0 | currency : 'R$ '" class="assertive" style="text-decoration: line-through;"></b-->
                  <b data-ng-bind="order.total || 0 | currency : 'R$ '" class="energized"></b>
            </h3>
            <div class="buttons">
                  <button class="button button-balanced icon ion-checkmark-round" data-ng-click="payment(order);" style="width:70px"></button>
            </div>
      </ion-footer-bar>
</ion-view>
