<ion-view view-title="">
      <ion-content overflow-scroll="false" padding="false">
            <div class="list card">
                  <div class="item item-divider">Store</div>
                  <div class="item item-body">
                        <h1 class="text-center">MANEI</h1>
                        <h2 class="text-center">Imersão</h2>

                        <div>
                              Para Utilizar o MANEI você precisará habilitar o seu celular. Insira abaixo o número do seu celular.
                        </div>

                        <div class="list list-inset">
                              <label class="item-input">
                                    <span>Telefone: </span>
                              </label>
                              <label class="item item-input">
                                    <i class="icon ion-ios-telephone-outline placeholder-icon"></i>
                                    <input type="tel" ui-mask="99(99) 99999-9999" ng-model="mobile.phoneNumber">
                              </label>
                              <br/>
                              <label class="item-input">
                                    <span>Confirme o telefone: </span>
                              </label>
                              <label class="item item-input">
                                    <i class="icon ion-ios-telephone-outline placeholder-icon"></i>
                                    <input type="tel" ui-mask="99(99) 99999-9999" ng-model="mobile.cphoneNumber">
                              </label>
                        </div>
                        <div>
                              <a class="button button-balanced  button-block" ng-click="send(mobile);">Continuar</a>
                              <a ui-sref="immersion.codesms" class="button button-dark button-block">Inserir Código</a>
                        </div>
                  </div>
            </div>
      </ion-content>
</ion-view>
