<ion-view view-title="Meus Dados" class="fundo">
      <ion-content overflow-scroll="false" padding="false">
            <div class="list card">
                  <div class="item item-divider">Store</div>
                  <div class="item item-body">
                        <h2 class="text-center">Dados da empresa</h2>

                        <div>
                              Preencha os dados abaixo para abrir sua conta MANEI. É GRÁTIS.
                        </div>

                        <div class="list list-inset">
                              <label class="item-input">
                                    <span>Nome Fantasia: </span>
                              </label>
                              <label class="item item-input item-stacked-label">
                                    <input type="text" placeholder="Nome Fantasia" data-ng-model="profile.name">
                              </label>
                              <br/>
                              <label class="item-input">
                                    <span>PIN: </span>
                              </label>
                              <label class="item item-input item-stacked-label">
                                    <input type="tel" ui-mask="9999" data-ng-model="profile.password">
                              </label>
                              <br/>
                              <label class="item-input">
                                    <span>Confirme o PIN: </span>
                              </label>
                              <label class="item item-input item-stacked-label">
                                    <input type="tel" ui-mask="9999" data-ng-model="profile.cpassword">
                              </label>
                              <div class="welcome50">
                                    <a class="button button-balanced button-block" data-ng-click="save(profile);">
                              Salvar
                        </a>
                              </div>

                        </div>
                  </div>
            </div>
      </ion-content>
</ion-view>
