<ion-view view-title="Meus Dados" class="fundo">
      <ion-content overflow-scroll="false" padding="false">
            <div class="list card">
                  <div class="item item-divider">Store</div>
                  <div class="item item-body">
                        <h2 class="text-center">Dados da empresa</h2>

                        <div>
                              Preencha os dados abaixo para abrir sua conta MANEI. É GRÁTIS.
                        </div>

                        <div class="list list-inset">
                              <label class="item-input">
                                    <span>CNPJ: </span>
                              </label>
                              <label class="item item-input item-stacked-label">
                                    <input type="tel" ui-mask="99.999.999/9999-99" data-ng-model="profile.cpfCnpj">
                              </label>

                              <div>
                                    <a class="button button-balanced button-block" data-ng-click="next(profile);">
                              Próximo
                        </a>
                              </div>

                        </div>
                  </div>
            </div>
      </ion-content>
</ion-view>
